@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu';
}

.square {
    width: 100%;
}

.square::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
